<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System.Configuration.ConfigurationManager, Version=5.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51">
            <section name="MID3SMPS.MainSettings" type="System.Configuration.ClientSettingsSection, System.Configuration.ConfigurationManager, Version=5.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MID3SMPS.MainSettings>
            <setting name="LastMappingFile" serializeAs="String">
                <value />
            </setting>
            <setting name="ConvertSongTitle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PerFileInstruments" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoReloadMidi" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoOptimizeMidi" serializeAs="String">
                <value>False</value>
            </setting>
        </MID3SMPS.MainSettings>
    </userSettings>
</configuration>